*~
*.sqlite3
*.pyc
__pycache__
virtualenv.sh
/build/
/dist/
.DS_Store
media/
example/media/
.DS_Store
.direnv
devel.env
pylama.ini
dj_field_filemanager.egg-info
upload_new_version.sh
dj_field_filemanager/static/field-filemanager/field-filemanager-*/demo.html
dj_field_filemanager/static/field-filemanager/field-filemanager-*/filemanager.umd.js
dj_field_filemanager/static/field-filemanager/field-filemanager-*/filemanager.common.js
dj_field_filemanager/static/field-filemanager/field-filemanager-*/filemanager.umd.js.map
dj_field_filemanager/static/field-filemanager/field-filemanager-*/filemanager.common.js.map
